[Unit]
Description=Spyglass - All Services
Wants=spyglass-backend.service spyglass-frontend.service spyglass-portal.service

[Install]
WantedBy=multi-user.target
